.clock-element {
    display: inline-block;
    height: 10px;
    width: 40px;
    background-color: red;
    position: relative;
}

.clock-element--vertical {
    transform: rotate(90deg);
}

.clock-element--horizontal {
    transform: rotate(0deg);
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; /* 40px height (20+20) */
    border-left: 5px solid red;
    position: absolute;
    right: -5px;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; /* 40px height (20+20) */
    border-right: 5px solid red;
    position: absolute;
    left: -5px;
}
